
.navbar{
    height: 4vh;
    min-height: 33px;
    width: 100vw;
    background-color: lightsteelblue;
}

.sideNavbar{
    min-height: 100%;
    height: fit-content;
    width: 250px;
    display: block;
    border: 0;
    border-top: 2px;
    border-right: 1px;
    border-color: black;
    border-style: solid;
    background-color: lightsteelblue;
}

.sidenavCategory{
    background-color: lightgrey;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: black;
    border-style: solid;
    border-width: 0;
    border-bottom-left-radius: 5px;
    border-bottom-width: 2px;
}

.sidenavCategory:hover{
    background-color: darkgrey;
}

.sidenavCategory.expanded{
    background-color: darkgrey;
}

.sidenavItem{
    background-color: whitesmoke;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: darkgrey;
    border-style: solid;
    border-width: 0;
    border-bottom-left-radius: 2px;
    border-bottom-width: 1px;
}

.sidenavItem:hover{
    background-color: lightgoldenrodyellow;
}