.square {
    background: #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 59px;
    height: 59px;
    text-align: center;
    width: 59px;
}

.center_square {
  float: left;
  font-size: 11px;
  font-weight: normal;
  line-height: 59px;
  height: 59px;
  text-align: center;
  width: 59px;
}


.corner_square {
  float: left;
  font-size: 11px;
  font-weight: normal;
  line-height: 19px;
  height: 19px;
  text-align: center;
  width: 19px;
  position: absolute;
}


  
.square_right_border_regular{
  border-right: 1px solid #000;
}


.square_bottom_border_regular{
  border-bottom: 1px solid #000;
}


.square_left_border_bold{
    border-left: 3px solid #000;
}
  
  
.square_right_border_bold{
  border-right: 3px solid #000;
}


.square_top_border_bold{
  border-top: 3px solid #000;
}


.square_bottom_border_bold{
  border-bottom: 3px solid #000;
}



.conflict{
  background-color: rgb(205, 92, 92);
}
.conflict_selected{
  background-color: rgb(188, 69, 7);
}

.not_locked{
  color: mediumblue;
}




.white_color{
  background-color: rgb(255, 255, 255);
}
.white_color_selected{
  background-color: rgb(238, 232, 170);
}


.green_color{
  background-color: rgb(0, 255, 127);
}

.green_color_selected{
  background-color: rgb(0, 232, 42);
}

.pink_color{
  background-color: rgb(216, 112, 147);
}
.pink_color_selected{
  background-color: rgb(199, 89, 62);
}

.blue_color{
  background-color: rgb(30, 144, 255);
}
.blue_color_selected{
  background-color: rgb(17, 121, 170);
}


.grey_color {
  background-color: rgb(128, 128, 128);
}
.grey_color_selected {
  background-color: rgb(111, 105, 43);
}

.orange_color {
  background-color: rgb(255, 165, 0);
}
.orange_color_selected {
  background-color: rgb(238, 142, 0);
}

.yellow_color {
  background-color: rgb(255, 255, 0);
}
.yellow_color_selected {
  background-color: rgb(238, 232, 0);
}

.red_color {
  background-color: rgb(255, 69, 0);
}
.red_color_selected {
  background-color: rgb(238, 46, 0);
}

.purple_color{
  background-color: rgb(218, 112, 214);
}
.purple_color_selected{
  background-color: rgb(201, 89, 129);
}

