.button-unselected {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin: 3px 3px;
  }

  .slim {
    width: 100px;
    height: 25px;
    font-size: 15px;
  }

  .wide {
    width: 98%;
  }

  .half-full-width {
    width: 48%;
    margin: 3px 1%;
  }


  .button-selected {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: powderblue;
    margin: 3px 3px;
  }

  .button-square-unselected {
    width: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;

    margin: 3px 3px;
  }

@media screen and (max-width: 1300px) {
  .half-full-width {
    width: 97%;
    height: 37px;
    margin-top: 2px;
    margin-bottom: 3px;
  }

  .wide {
    margin-right: 1px;
    width: 96%;
  }
}