.standard-button {
  font-size: 18px;
  font-weight: bold;
  margin: 3px 3px;
  height: 50px;


  border-radius: 7px;
  border-color: rgba(47, 79, 79, 0.3);
  border-width: 1px;

  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.standard-button:active{
  box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transform: translate(0,2px);
}


.button-color{
  background-color: rgb(234, 231, 235);
}

.regular{
  width: 100px;
}

.wide {
  width: 98%;
}

.half-full-width {
  width: 48%;
  margin: 3px 1%;
}

.selected {
  box-shadow: ;
  background-color: powderblue;
}

.square-button {
  width: 50px;
}

.button-square-unselected {
  width: 50px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;

  margin: 3px 3px;
}

@media screen and (max-width: 1300px) {
  .half-full-width {
    width: 97%;
    height: 37px;
    margin-top: 2px;
    margin-bottom: 3px;
  }

  .wide {
    margin-right: 1px;
    width: 96%;
  }
}