.button-unselected {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
  }

  .small {
    width: 100px;
    height: 25px;
    font-size: 15px;
  }


  .button-selected {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: powderblue;
  }

  .button-square-unselected {
    width: 75px;
    height: 75px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
  }
