@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

body{
  background-color: ghostwhite;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Trispace', sans-serif;
}

.game-div{
  height: 96vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

}

.board{
  margin: 0 50px;
}

.button-div{
  display: inline;
  margin: 0 50px;
}


button:focus {outline:0;}

div:focus {outline:0;}


  .board-row:after {
    clear: left;
    content: "";
    display: table;
  }






  .button-grid{
    position: relative;
  }
