.page-class{
    background-color: ghostwhite;
    align-content: center;
}

body{
  background-color: ghostwhite;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


  .board-row:after {
    clear: left;
    content: "";
    display: table;
  }

  button:focus {outline:0;}

  div:focus {outline:0;}

  .board{
    top: 15%;
    left: 10%;
    width: 1200px;
    position: absolute;
  }

  .page-class{
    height: 100%;
    width: 100%;
  }

  #root{
    height: 100%;
    width: 100%;
  }

  .button-grid{
    position: relative;
  }

  .button-div{
    display: inline;
    position: absolute;
    top: 25%;
    left: 54%;
  }