.page-class{
    background-color: ghostwhite;
    align-content: center;
}

body{
  background-color: ghostwhite;
}


  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  button:focus {outline:0;}

  div:focus {outline:0;}

  .button-unselected {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
  }
  

  .button-selected {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: powderblue;
  }