@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400&display=swap');

.navbar{
    height: 4vh;
    min-height: 33px;
    width: 100vw;
    background-color: lightsteelblue;
    font-family: 'Teko', sans-serif;
}